body {
  background-color: #000000 !important;
}

.panel-container {
  background-color: #262626 !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.navbar-button {
  background-color: #262626 !important;
}

.view-mode--tv .navbar,
/* .view-mode--tv .navbar-buttons--tv,
.view-mode--tv .navbar-page-btn, */
.view-mode--tv .sidemenu {
  display: none !important;
}

.view-mode--tv .submenu-controls {
  display: flex;
}

.view-mode--tv .panel-info-corner--links,
.view-mode--kiosk .panel-info-corner--links {
  display: block !important;
}

.view-mode--tv .panel-menu-container,
.view-mode--kiosk .panel-menu-container {
  display: none;
}
